# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.out
*.app
.vs
/zhr_lib.vcxproj.user
/zhr.vcxproj.user
*.user
zhr_lib/Build
Build

/Distrib/Windows_AMD64/bin/Debug/zhr.ilk
/Distrib/Windows_AMD64/bin/Debug/zhr.pdb
